<ngx-datatable class="bootstrap"
               [columnMode]="'force'"
               [scrollbarV]="true"
               [columns]="state.ngxColumns"
               [rowHeight]="list.itemHeight"
               [headerHeight]="list.headerHeight"
               [footerHeight]="0"
               [rows]="list.items"
               [selectionType]="'single'"
               [rowClass]="list.rowClass()"
               (activate)="list.onActivate($event)"
               (scroll)="list.onScroll($event, el)">
  
</ngx-datatable>
