<div class="row h-100">
  <div class="col-6 h-100 table-wrap">
    <ag-grid-angular
      class="ag-theme-balham h-100"
      [datasource]="list"
      [columnDefs]="agColumns"
      [rowSelection]="'multiple'"
      [rowModelType]="'infinite'"
      [paginationPageSize]="list.itemsPerPage"
      [cacheBlockSize]="list.itemsPerPage"
      [paginationAutoPageSize]="true"
      [rowHeight]="list.itemHeight"
      [headerHeight]="list.headerHeight"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
  <div class="col-6">
  </div>
</div>
