<div class="page">
  <div class="page__content">
    <nav class="page__nav navbar navbar-expand-lg navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['ngx-datatable']">ngx-datatable</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['ag-grid']">ag-grid</a>
        </li>
      </ul>
      <button class="btn btn-outline-success" (click)="list.reload()">Reload</button>
    </nav>
    <div class="page__route">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
