/* You can add global styles to this file, and also import other style files */
@import "~node_modules/bootstrap/scss/bootstrap";

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';

.page {
  height: 100vh;

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__nav {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__route {
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    overflow: hidden;
  }
}



datatable-body-row {
  &.row-checked {
    background-color: #81bcff !important;
  }

  &.row-selected {
    background-color: #1483ff !important;
  }
}
